# Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Large data files (optional)
*.zip
*.7z

# Power BI cache
*.pbix.autosave